.footer-container{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0rem 5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  gap: .5rem;
  z-index: 100;
  background-color: var(--co-1);
  /* overflow-x: hidden; */
}
.footer-wave{
  position: absolute;
  top: -70%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  gap: 2rem;
  margin-top: 0%;
  z-index: 100;
  background-color: var(--co-1);
background-color: transparent;
  overflow: hidden;
  width: 50%;
}

.contact-image {
  width: 40%;
  height: 300px;
  display: flex; /* Ensures child alignment works */
  justify-content: center; /* Horizontally center the child */
  align-items: center; /* Vertically center the child */
  overflow: hidden; 
}

.contact-tom {
  width: 200%;
  height: 200%;
  object-fit: cover; /* Ensures the image fills the container while maintaining aspect ratio */
  object-position: center; /* Centers the object inside the container */
}


.contact-details {
  flex: 1;
  text-align: left;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.171);
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1em;
  width: 100%;
}

.contact-title {
  font-size: var(--fs-xl);
  color: var(--co-3);
  margin-bottom: .5rem;
}

.contact-description {
  font-size: var(--fs-s);
  color: var(--co-2);
  margin-bottom: .5rem;
  line-height: 1.6;
  width: 100%;
}

.contact-info {
  list-style: none;
  padding: 0;
}

.contact-info li {
  font-size: var(--fs-s);
  margin-bottom: 0.5rem;
  color: var(--co-4);
  font-weight: 600;
}

.contact-info a {
  color: var(--co-3);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
}

.contact-info a:hover {
  color: var(--co-2);
}
.hero-line{
  border: none;
  border-top: 2px solid var(--co-4); 
  width: 100%; 
  
}
footer{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer-dev,.footer-copy{
  font-size: var(--fs-s);
  font-weight: 500;
}
.footer-dev span{
  color: var(--co-2);
  text-transform: uppercase;
}
.footer-social {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icon {
  font-size: var(--fs-m);
  color: var(--co-4);
  transition: transform 0.3s ease, color 0.3s ease;
  margin: 0%;
  padding:0;
  line-height: 0%;
  border-radius: 5px;

}

.social-icon:hover {
  transform: scale(1.2);
  color: var(--co-3);
  background-color: var(--co-4);
}

/* Responsive Design for Mobile and Tablet Screens */
@media screen and (max-width: 767px) {
  .footer-container{
    padding: 0em;
  }
  .footer-wave{
    display: none;
  }
  .contact-container {
    flex-direction: column;
    padding: 1rem;
  }

  .contact-title {
    font-size: var(--fs-l);
    text-align: center;
  }
  .contact-description {
    font-size: var(--fs-s);
  }

  .contact-image {
    margin-bottom: 2rem;
  }

  .contact-details {
    text-align: justify;
    padding: 1rem;
  }
  
  .contact-info li {
    font-size: var(--fs-s);
    text-align: left;
  }

  .contact-info a {
    font-size: var(--fs-s);
  }
  
  footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 1em;

  }
  .footer-dev,.footer-copy{
    font-size: var(--fs-s);
    font-weight: 500;
    text-align: center;
    margin: .5em;
  }
  .footer-dev span{
    color: var(--co-2);
    text-transform: uppercase;
  }
  .footer-social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: .5em;

  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-wave{
    display: none;
  }
  .contact-container {
    flex-direction: row;
    padding: 1rem 2rem;
    width: 100%;
  }
  .contact-image{
    text-align: center;
  }
.contact-image img{
  width: 100%;
}
  .contact-title {
    font-size: var(--fs-l);
    text-align: center;
  }
  .contact-details{
    width: 70%;
  }

  .contact-description {
    font-size: var(--fs-s);
  }

  .contact-info li {
    font-size: var(--fs-s);
  }

  .contact-info a {
    font-size: var(--fs-s);
  }
}
