#git-cont{
  padding: 1em 10em;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: .5em;
}
.react-activity-calendar{
  color: var(--co-5);
}
.git-title{
  font-size: var(--fs-xl);
  color: var(--co-1);
  margin: .3em;
}
.git-year{
  color: var(--co-5);
  font-size: var(--fs-l);
  margin: .5em;
}

.year-btn{
  color: #00ffa6;
  background-color: transparent;
  border: 1px solid  #00ffa6;
  padding: .3em;
  margin: .4em;
  border-radius: 5px;
}
.year-btn:hover{
  transform: rotate(-20deg);
}
.year-container{
  margin: .5em;
  display: flex;
  width: 100%;
  justify-content: end;
  color: #ffffff56;
}
  @media screen and (max-width: 767px) {
    #git-cont{
      margin: 0;
      padding: 0.4em 1em;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .git-conty{
      width: 90vw;
      overflow: scroll;
      margin-left: 0%;
    }
    .react-activity-calendar{
      object-position: center;
      width: 80%;
    }
    
    .git-title{
      font-size: var(--fs-l);
    }
    .git-year{
      font-size: var(--fs-s);
    }
    .react-activity-calendar__footer{
      margin-left: 0px !important;
    }
  }